{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "global-require": "off",
    "no-cond-assign": ["error", "always"],
    "react/forbid-prop-types": 0,
    "no-return-assign":"off",
    "react/no-array-index-key": "off"
  }
}